<!-- Top header -->
<header class="w3-container w3-xlarge">
    <p class="w3-left">{{header}}</p>
    <p class="w3-right">
        <a href="{% url 'CartView' %}"><button class="fa fa-shopping-cart w3-button" style="background-color: #fff; border: none;"></button></a>
        <button class="fa fa-search w3-button" style="background-color: #fff; border: none;"></button>
        
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}"><button class="fa fa-user w3-button" style="background-color: #fff; border: none;"></button></a>
        {% else %}
        <a href="{% url 'login' %}"> <button class="w3-button w3-black w3-button w3-tiny">Sign in</button> </a>
        {% endif %}

    </p>
</header>